.white{
    color: #fff;
  }
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 20px;
  }
  h4{
    font-size: 30px;
  }
  .small-text{
    font-size: 30%;
    font-weight: 400;
    margin-top: 15px;
    margin-left: 15px;
  }
  .f-100{
      font-weight: 100;   
  }
  
  .dark-gray{
    color:#696969;
  }
  .f-500{
      font-weight: 500;
  }
  .nav-icon{
      font-size: 36px;
      color: #fff;
  }
  .mt-110{
    margin-top: 110px;
  }
  .orange{
    color: orange;
  }
  .about-img{
    height: 500px;
  }
  .mt-45{
    margin-top: -45px;
  }
  .card-body{
    margin-top: 20px;
  }